# generated: '2026-07-18'
# method: derived
# source: live HAL root https://api.artsy.net/api + https://developers.artsy.net/
openapi: 3.1.0
info:
  title: Artsy Public API
  version: 2.0.0
  description: 'The Artsy Public API (v2) is a HAL (Hypertext Application Language) hypermedia REST API
    that provides access to Artsy''s database of artists, artworks, genes (Art Genome Project categories),
    shows, partners, fairs, and auction sales. Authentication uses an application-level X-Xapp-Token obtained
    by exchanging a client_id and client_secret. NOTE: Artsy has announced that the public API is being
    retired and may be taken down without notice; the Partner API remains for approved partners.


    Derived by API Evangelist from the live HAL root at https://api.artsy.net/api and the published documentation
    at https://developers.artsy.net/.'
  termsOfService: https://www.artsy.net/api-terms
  contact:
    name: Artsy Developers
    url: https://developers.artsy.net/
  x-apievangelist-note: Derived from live HAL discovery + docs; not published by Artsy as OpenAPI.
servers:
- url: https://api.artsy.net/api
  description: Artsy Public API v2
security:
- XappToken: []
tags:
- name: Applications
- name: Artists
- name: Artworks
- name: Authentication
- name: Bidder Positions
- name: Bidders
- name: Collection Items
- name: Collections
- name: Collector Profiles
- name: Devices
- name: Editions
- name: Fairs
- name: Genes
- name: Images
- name: Partner Communications
- name: Partner Contacts
- name: Partners
- name: Profiles
- name: Sale Artworks
- name: Sales
- name: Search
- name: Shows
- name: Status
- name: User Fair Actions
- name: Users
paths:
  /tokens/xapp_token:
    post:
      operationId: createXappToken
      summary: Create an XApp token
      tags:
      - Authentication
      description: Exchange your application client_id and client_secret for a short-lived X-Xapp-Token
        used to authenticate anonymous (application-level) requests.
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - client_id
              - client_secret
              properties:
                client_id:
                  type: string
                  description: Your application client ID.
                client_secret:
                  type: string
                  description: Your application client secret.
      responses:
        '201':
          description: Token issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: xapp_token
                  token:
                    type: string
                  expires_at:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Error'
  /status:
    get:
      operationId: getStatus
      summary: API status
      tags:
      - Status
      description: Health/status of the API.
      security: []
      responses:
        '200':
          description: Status
          content:
            application/json:
              schema: &id001
                $ref: '#/components/schemas/HALResource'
  /search:
    get:
      operationId: search
      summary: Search Artsy
      tags:
      - Search
      description: Full-text search across Artsy resources.
      parameters:
      - name: q
        in: query
        required: false
        description: Search query string.
        schema:
          type: string
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema: *id001
        '401':
          $ref: '#/components/responses/Error'
  /artists:
    get:
      operationId: listArtists
      summary: List artists
      tags:
      - Artists
      description: Artists represented on Artsy
      parameters:
      - name: artwork_id
        in: query
        required: false
        description: Filter by artwork id.
        schema:
          type: string
      - name: similar_to_artist_id
        in: query
        required: false
        description: Return artists similar to this artist id.
        schema:
          type: string
      - name: similarity_type
        in: query
        required: false
        description: Type of similarity to use.
        schema:
          type: string
      - name: published_artworks
        in: query
        required: false
        description: Filter artists with published artworks.
        schema:
          type: string
      - name: artworks
        in: query
        required: false
        description: Filter artists that have artworks.
        schema:
          type: string
      - name: term
        in: query
        required: false
        description: Full-text search term.
        schema:
          type: string
      - name: total_count
        in: query
        required: false
        description: Set to 1 to include the total item count in the response (counting is not free and
          off by default).
        schema:
          type: integer
      - name: size
        in: query
        required: false
        description: Limit the number of embedded items returned.
        schema:
          type: integer
      - name: cursor
        in: query
        required: false
        description: A position within the results set for cursor-based pagination.
        schema:
          type: string
      - name: offset
        in: query
        required: false
        description: Skip this number of items (mutually exclusive with cursor).
        schema:
          type: integer
      - name: sample
        in: query
        required: false
        description: Redirect to a random element in the collection.
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: Sort order for the results.
        schema:
          type: string
      responses:
        '200':
          description: A paginated set of artists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HALCollection'
        '401':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
  /artists/{id}:
    get:
      operationId: getArtist
      summary: Get a artist
      tags:
      - Artists
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The artist id.
      responses:
        '200':
          description: A artist
          content:
            application/json:
              schema: *id001
        '404':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
  /artworks:
    get:
      operationId: listArtworks
      summary: List artworks
      tags:
      - Artworks
      description: Artworks in the Artsy database
      parameters:
      - name: artist_id
        in: query
        required: false
        description: Filter by artist id.
        schema:
          type: string
      - name: partner_id
        in: query
        required: false
        description: Filter by partner id.
        schema:
          type: string
      - name: show_id
        in: query
        required: false
        description: Filter by show id.
        schema:
          type: string
      - name: similar_to_artwork_id
        in: query
        required: false
        description: Return artworks similar to this artwork id.
        schema:
          type: string
      - name: published
        in: query
        required: false
        description: Filter by published state.
        schema:
          type: string
      - name: term
        in: query
        required: false
        description: Full-text search term.
        schema:
          type: string
      - name: total_count
        in: query
        required: false
        description: Set to 1 to include the total item count in the response (counting is not free and
          off by default).
        schema:
          type: integer
      - name: size
        in: query
        required: false
        description: Limit the number of embedded items returned.
        schema:
          type: integer
      - name: cursor
        in: query
        required: false
        description: A position within the results set for cursor-based pagination.
        schema:
          type: string
      - name: offset
        in: query
        required: false
        description: Skip this number of items (mutually exclusive with cursor).
        schema:
          type: integer
      - name: sample
        in: query
        required: false
        description: Redirect to a random element in the collection.
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: Sort order for the results.
        schema:
          type: string
      responses:
        '200':
          description: A paginated set of artworks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HALCollection'
        '401':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
  /artworks/{id}:
    get:
      operationId: getArtwork
      summary: Get a artwork
      tags:
      - Artworks
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The artwork id.
      responses:
        '200':
          description: A artwork
          content:
            application/json:
              schema: *id001
        '404':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
  /genes:
    get:
      operationId: listGenes
      summary: List genes
      tags:
      - Genes
      description: Genes are Artsy's categories/characteristics used by The Art Genome Project
      parameters:
      - name: artist_id
        in: query
        required: false
        description: Filter by artist id.
        schema:
          type: string
      - name: artwork_id
        in: query
        required: false
        description: Filter by artwork id.
        schema:
          type: string
      - name: total_count
        in: query
        required: false
        description: Set to 1 to include the total item count in the response (counting is not free and
          off by default).
        schema:
          type: integer
      - name: size
        in: query
        required: false
        description: Limit the number of embedded items returned.
        schema:
          type: integer
      - name: cursor
        in: query
        required: false
        description: A position within the results set for cursor-based pagination.
        schema:
          type: string
      - name: offset
        in: query
        required: false
        description: Skip this number of items (mutually exclusive with cursor).
        schema:
          type: integer
      - name: sample
        in: query
        required: false
        description: Redirect to a random element in the collection.
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: Sort order for the results.
        schema:
          type: string
      responses:
        '200':
          description: A paginated set of genes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HALCollection'
        '401':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
  /genes/{id}:
    get:
      operationId: getGene
      summary: Get a gene
      tags:
      - Genes
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The gene id.
      responses:
        '200':
          description: A gene
          content:
            application/json:
              schema: *id001
        '404':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
  /shows:
    get:
      operationId: listShows
      summary: List shows
      tags:
      - Shows
      description: Gallery and museum shows
      parameters:
      - name: partner_id
        in: query
        required: false
        description: Filter by partner id.
        schema:
          type: string
      - name: status
        in: query
        required: false
        description: Filter by status.
        schema:
          type: string
      - name: fair_id
        in: query
        required: false
        description: Filter by fair id.
        schema:
          type: string
      - name: total_count
        in: query
        required: false
        description: Set to 1 to include the total item count in the response (counting is not free and
          off by default).
        schema:
          type: integer
      - name: size
        in: query
        required: false
        description: Limit the number of embedded items returned.
        schema:
          type: integer
      - name: cursor
        in: query
        required: false
        description: A position within the results set for cursor-based pagination.
        schema:
          type: string
      - name: offset
        in: query
        required: false
        description: Skip this number of items (mutually exclusive with cursor).
        schema:
          type: integer
      - name: sample
        in: query
        required: false
        description: Redirect to a random element in the collection.
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: Sort order for the results.
        schema:
          type: string
      responses:
        '200':
          description: A paginated set of shows
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HALCollection'
        '401':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
  /shows/{id}:
    get:
      operationId: getShow
      summary: Get a show
      tags:
      - Shows
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The show id.
      responses:
        '200':
          description: A show
          content:
            application/json:
              schema: *id001
        '404':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
  /partners:
    get:
      operationId: listPartners
      summary: List partners
      tags:
      - Partners
      description: 'Partners: galleries, museums, and institutions'
      parameters:
      - name: user_id
        in: query
        required: false
        description: Filter by user id.
        schema:
          type: string
      - name: partner_id
        in: query
        required: false
        description: Filter by partner id.
        schema:
          type: string
      - name: eligible_for_partner_analytics
        in: query
        required: false
        description: Filter partners eligible for analytics.
        schema:
          type: string
      - name: total_count
        in: query
        required: false
        description: Set to 1 to include the total item count in the response (counting is not free and
          off by default).
        schema:
          type: integer
      - name: size
        in: query
        required: false
        description: Limit the number of embedded items returned.
        schema:
          type: integer
      - name: cursor
        in: query
        required: false
        description: A position within the results set for cursor-based pagination.
        schema:
          type: string
      - name: offset
        in: query
        required: false
        description: Skip this number of items (mutually exclusive with cursor).
        schema:
          type: integer
      - name: sample
        in: query
        required: false
        description: Redirect to a random element in the collection.
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: Sort order for the results.
        schema:
          type: string
      responses:
        '200':
          description: A paginated set of partners
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HALCollection'
        '401':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
  /partners/{id}:
    get:
      operationId: getPartner
      summary: Get a partner
      tags:
      - Partners
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The partner id.
      responses:
        '200':
          description: A partner
          content:
            application/json:
              schema: *id001
        '404':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
  /sales:
    get:
      operationId: listSales
      summary: List sales
      tags:
      - Sales
      description: Auction sales
      parameters:
      - name: published
        in: query
        required: false
        description: Filter by published state.
        schema:
          type: string
      - name: live
        in: query
        required: false
        description: Filter live auctions.
        schema:
          type: string
      - name: is_auction
        in: query
        required: false
        description: Filter auction sales.
        schema:
          type: string
      - name: total_count
        in: query
        required: false
        description: Set to 1 to include the total item count in the response (counting is not free and
          off by default).
        schema:
          type: integer
      - name: size
        in: query
        required: false
        description: Limit the number of embedded items returned.
        schema:
          type: integer
      - name: cursor
        in: query
        required: false
        description: A position within the results set for cursor-based pagination.
        schema:
          type: string
      - name: offset
        in: query
        required: false
        description: Skip this number of items (mutually exclusive with cursor).
        schema:
          type: integer
      - name: sample
        in: query
        required: false
        description: Redirect to a random element in the collection.
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: Sort order for the results.
        schema:
          type: string
      responses:
        '200':
          description: A paginated set of sales
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HALCollection'
        '401':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
  /sales/{id}:
    get:
      operationId: getSale
      summary: Get a sale
      tags:
      - Sales
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The sale id.
      responses:
        '200':
          description: A sale
          content:
            application/json:
              schema: *id001
        '404':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
  /sale_artworks:
    get:
      operationId: listSaleArtworks
      summary: List sale artworks
      tags:
      - Sale Artworks
      description: Artworks within an auction sale
      parameters:
      - name: sale_id
        in: query
        required: false
        description: Filter by sale id.
        schema:
          type: string
      - name: published
        in: query
        required: false
        description: Filter by published state.
        schema:
          type: string
      - name: total_count
        in: query
        required: false
        description: Set to 1 to include the total item count in the response (counting is not free and
          off by default).
        schema:
          type: integer
      - name: size
        in: query
        required: false
        description: Limit the number of embedded items returned.
        schema:
          type: integer
      - name: cursor
        in: query
        required: false
        description: A position within the results set for cursor-based pagination.
        schema:
          type: string
      - name: offset
        in: query
        required: false
        description: Skip this number of items (mutually exclusive with cursor).
        schema:
          type: integer
      - name: sample
        in: query
        required: false
        description: Redirect to a random element in the collection.
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: Sort order for the results.
        schema:
          type: string
      responses:
        '200':
          description: A paginated set of sale artworks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HALCollection'
        '401':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
  /sale_artworks/{id}:
    get:
      operationId: getSaleArtwork
      summary: Get a sale artwork
      tags:
      - Sale Artworks
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The sale_artwork id.
      responses:
        '200':
          description: A sale artwork
          content:
            application/json:
              schema: *id001
        '404':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
  /fairs:
    get:
      operationId: listFairs
      summary: List fairs
      tags:
      - Fairs
      description: Art fairs
      parameters:
      - name: status
        in: query
        required: false
        description: Filter by status.
        schema:
          type: string
      - name: total_count
        in: query
        required: false
        description: Set to 1 to include the total item count in the response (counting is not free and
          off by default).
        schema:
          type: integer
      - name: size
        in: query
        required: false
        description: Limit the number of embedded items returned.
        schema:
          type: integer
      - name: cursor
        in: query
        required: false
        description: A position within the results set for cursor-based pagination.
        schema:
          type: string
      - name: offset
        in: query
        required: false
        description: Skip this number of items (mutually exclusive with cursor).
        schema:
          type: integer
      - name: sample
        in: query
        required: false
        description: Redirect to a random element in the collection.
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: Sort order for the results.
        schema:
          type: string
      responses:
        '200':
          description: A paginated set of fairs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HALCollection'
        '401':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
  /fairs/{id}:
    get:
      operationId: getFair
      summary: Get a fair
      tags:
      - Fairs
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The fair id.
      responses:
        '200':
          description: A fair
          content:
            application/json:
              schema: *id001
        '404':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
  /profiles:
    get:
      operationId: listProfiles
      summary: List profiles
      tags:
      - Profiles
      description: Public profiles
      parameters:
      - name: total_count
        in: query
        required: false
        description: Set to 1 to include the total item count in the response (counting is not free and
          off by default).
        schema:
          type: integer
      - name: size
        in: query
        required: false
        description: Limit the number of embedded items returned.
        schema:
          type: integer
      - name: cursor
        in: query
        required: false
        description: A position within the results set for cursor-based pagination.
        schema:
          type: string
      - name: offset
        in: query
        required: false
        description: Skip this number of items (mutually exclusive with cursor).
        schema:
          type: integer
      - name: sample
        in: query
        required: false
        description: Redirect to a random element in the collection.
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: Sort order for the results.
        schema:
          type: string
      responses:
        '200':
          description: A paginated set of profiles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HALCollection'
        '401':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
  /profiles/{id}:
    get:
      operationId: getProfile
      summary: Get a profile
      tags:
      - Profiles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The profile id.
      responses:
        '200':
          description: A profile
          content:
            application/json:
              schema: *id001
        '404':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
  /users:
    get:
      operationId: listUsers
      summary: List users
      tags:
      - Users
      description: Users
      parameters:
      - name: term
        in: query
        required: false
        description: Full-text search term.
        schema:
          type: string
      - name: total_count
        in: query
        required: false
        description: Set to 1 to include the total item count in the response (counting is not free and
          off by default).
        schema:
          type: integer
      - name: size
        in: query
        required: false
        description: Limit the number of embedded items returned.
        schema:
          type: integer
      - name: cursor
        in: query
        required: false
        description: A position within the results set for cursor-based pagination.
        schema:
          type: string
      - name: offset
        in: query
        required: false
        description: Skip this number of items (mutually exclusive with cursor).
        schema:
          type: integer
      - name: sample
        in: query
        required: false
        description: Redirect to a random element in the collection.
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: Sort order for the results.
        schema:
          type: string
      responses:
        '200':
          description: A paginated set of users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HALCollection'
        '401':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
  /users/{id}:
    get:
      operationId: getUser
      summary: Get a user
      tags:
      - Users
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The user id.
      responses:
        '200':
          description: A user
          content:
            application/json:
              schema: *id001
        '404':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
  /collections:
    get:
      operationId: listCollections
      summary: List collections
      tags:
      - Collections
      description: User collections
      parameters:
      - name: user_id
        in: query
        required: false
        description: Filter by user id.
        schema:
          type: string
      - name: private
        in: query
        required: false
        description: Filter private collections.
        schema:
          type: string
      - name: total_count
        in: query
        required: false
        description: Set to 1 to include the total item count in the response (counting is not free and
          off by default).
        schema:
          type: integer
      - name: size
        in: query
        required: false
        description: Limit the number of embedded items returned.
        schema:
          type: integer
      - name: cursor
        in: query
        required: false
        description: A position within the results set for cursor-based pagination.
        schema:
          type: string
      - name: offset
        in: query
        required: false
        description: Skip this number of items (mutually exclusive with cursor).
        schema:
          type: integer
      - name: sample
        in: query
        required: false
        description: Redirect to a random element in the collection.
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: Sort order for the results.
        schema:
          type: string
      responses:
        '200':
          description: A paginated set of collections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HALCollection'
        '401':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
  /collections/{id}:
    get:
      operationId: getCollection
      summary: Get a collection
      tags:
      - Collections
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The collection id.
      responses:
        '200':
          description: A collection
          content:
            application/json:
              schema: *id001
        '404':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
  /collection_items:
    get:
      operationId: listCollectionItems
      summary: List collection items
      tags:
      - Collection Items
      description: Items within a collection
      parameters:
      - name: user_id
        in: query
        required: false
        description: Filter by user id.
        schema:
          type: string
      - name: collection_id
        in: query
        required: false
        description: Filter by collection id.
        schema:
          type: string
      - name: artwork_id
        in: query
        required: false
        description: Filter by artwork id.
        schema:
          type: string
      - name: total_count
        in: query
        required: false
        description: Set to 1 to include the total item count in the response (counting is not free and
          off by default).
        schema:
          type: integer
      - name: size
        in: query
        required: false
        description: Limit the number of embedded items returned.
        schema:
          type: integer
      - name: cursor
        in: query
        required: false
        description: A position within the results set for cursor-based pagination.
        schema:
          type: string
      - name: offset
        in: query
        required: false
        description: Skip this number of items (mutually exclusive with cursor).
        schema:
          type: integer
      - name: sample
        in: query
        required: false
        description: Redirect to a random element in the collection.
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: Sort order for the results.
        schema:
          type: string
      responses:
        '200':
          description: A paginated set of collection items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HALCollection'
        '401':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
  /collection_items/{id}:
    get:
      operationId: getCollectionItem
      summary: Get a collection item
      tags:
      - Collection Items
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The collection_item id.
      responses:
        '200':
          description: A collection item
          content:
            application/json:
              schema: *id001
        '404':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
  /collector_profiles:
    get:
      operationId: listCollectorProfiles
      summary: List collector profiles
      tags:
      - Collector Profiles
      description: Collector profiles
      parameters:
      - name: owner_id
        in: query
        required: false
        description: Filter by owner id.
        schema:
          type: string
      - name: total_count
        in: query
        required: false
        description: Set to 1 to include the total item count in the response (counting is not free and
          off by default).
        schema:
          type: integer
      - name: size
        in: query
        required: false
        description: Limit the number of embedded items returned.
        schema:
          type: integer
      - name: cursor
        in: query
        required: false
        description: A position within the results set for cursor-based pagination.
        schema:
          type: string
      - name: offset
        in: query
        required: false
        description: Skip this number of items (mutually exclusive with cursor).
        schema:
          type: integer
      - name: sample
        in: query
        required: false
        description: Redirect to a random element in the collection.
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: Sort order for the results.
        schema:
          type: string
      responses:
        '200':
          description: A paginated set of collector profiles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HALCollection'
        '401':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
  /collector_profiles/{id}:
    get:
      operationId: getCollectorProfile
      summary: Get a collector profile
      tags:
      - Collector Profiles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The collector_profile id.
      responses:
        '200':
          description: A collector profile
          content:
            application/json:
              schema: *id001
        '404':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
  /bidders:
    get:
      operationId: listBidders
      summary: List bidders
      tags:
      - Bidders
      description: Auction bidders
      parameters:
      - name: sale_id
        in: query
        required: false
        description: Filter by sale id.
        schema:
          type: string
      - name: total_count
        in: query
        required: false
        description: Set to 1 to include the total item count in the response (counting is not free and
          off by default).
        schema:
          type: integer
      - name: size
        in: query
        required: false
        description: Limit the number of embedded items returned.
        schema:
          type: integer
      - name: cursor
        in: query
        required: false
        description: A position within the results set for cursor-based pagination.
        schema:
          type: string
      - name: offset
        in: query
        required: false
        description: Skip this number of items (mutually exclusive with cursor).
        schema:
          type: integer
      - name: sample
        in: query
        required: false
        description: Redirect to a random element in the collection.
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: Sort order for the results.
        schema:
          type: string
      responses:
        '200':
          description: A paginated set of bidders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HALCollection'
        '401':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
  /bidders/{id}:
    get:
      operationId: getBidder
      summary: Get a bidder
      tags:
      - Bidders
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The bidder id.
      responses:
        '200':
          description: A bidder
          content:
            application/json:
              schema: *id001
        '404':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
  /bidder_positions:
    get:
      operationId: listBidderPositions
      summary: List bidder positions
      tags:
      - Bidder Positions
      description: Bidder positions in an auction
      parameters:
      - name: sale_artwork_id
        in: query
        required: false
        description: Filter by sale artwork id.
        schema:
          type: string
      - name: total_count
        in: query
        required: false
        description: Set to 1 to include the total item count in the response (counting is not free and
          off by default).
        schema:
          type: integer
      - name: size
        in: query
        required: false
        description: Limit the number of embedded items returned.
        schema:
          type: integer
      - name: cursor
        in: query
        required: false
        description: A position within the results set for cursor-based pagination.
        schema:
          type: string
      - name: offset
        in: query
        required: false
        description: Skip this number of items (mutually exclusive with cursor).
        schema:
          type: integer
      - name: sample
        in: query
        required: false
        description: Redirect to a random element in the collection.
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: Sort order for the results.
        schema:
          type: string
      responses:
        '200':
          description: A paginated set of bidder positions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HALCollection'
        '401':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
  /bidder_positions/{id}:
    get:
      operationId: getBidderPosition
      summary: Get a bidder position
      tags:
      - Bidder Positions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The bidder_position id.
      responses:
        '200':
          description: A bidder position
          content:
            application/json:
              schema: *id001
        '404':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
  /partner_communications:
    get:
      operationId: listPartnerCommunications
      summary: List partner communications
      tags:
      - Partner Communications
      description: Partner communications
      parameters:
      - name: name
        in: query
        required: false
        description: Filter by name.
        schema:
          type: string
      - name: total_count
        in: query
        required: false
        description: Set to 1 to include the total item count in the response (counting is not free and
          off by default).
        schema:
          type: integer
      - name: size
        in: query
        required: false
        description: Limit the number of embedded items returned.
        schema:
          type: integer
      - name: cursor
        in: query
        required: false
        description: A position within the results set for cursor-based pagination.
        schema:
          type: string
      - name: offset
        in: query
        required: false
        description: Skip this number of items (mutually exclusive with cursor).
        schema:
          type: integer
      - name: sample
        in: query
        required: false
        description: Redirect to a random element in the collection.
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: Sort order for the results.
        schema:
          type: string
      responses:
        '200':
          description: A paginated set of partner communications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HALCollection'
        '401':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
  /partner_communications/{id}:
    get:
      operationId: getPartnerCommunication
      summary: Get a partner communication
      tags:
      - Partner Communications
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The partner_communication id.
      responses:
        '200':
          description: A partner communication
          content:
            application/json:
              schema: *id001
        '404':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
  /partner_contacts:
    get:
      operationId: listPartnerContacts
      summary: List partner contacts
      tags:
      - Partner Contacts
      description: Partner contacts
      parameters:
      - name: partner_id
        in: query
        required: false
        description: Filter by partner id.
        schema:
          type: string
      - name: can_contact
        in: query
        required: false
        description: Filter contacts that can be contacted.
        schema:
          type: string
      - name: partner_communication_id
        in: query
        required: false
        description: Filter by partner communication id.
        schema:
          type: string
      - name: total_count
        in: query
        required: false
        description: Set to 1 to include the total item count in the response (counting is not free and
          off by default).
        schema:
          type: integer
      - name: size
        in: query
        required: false
        description: Limit the number of embedded items returned.
        schema:
          type: integer
      - name: cursor
        in: query
        required: false
        description: A position within the results set for cursor-based pagination.
        schema:
          type: string
      - name: offset
        in: query
        required: false
        description: Skip this number of items (mutually exclusive with cursor).
        schema:
          type: integer
      - name: sample
        in: query
        required: false
        description: Redirect to a random element in the collection.
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: Sort order for the results.
        schema:
          type: string
      responses:
        '200':
          description: A paginated set of partner contacts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HALCollection'
        '401':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
  /partner_contacts/{id}:
    get:
      operationId: getPartnerContact
      summary: Get a partner contact
      tags:
      - Partner Contacts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The partner_contact id.
      responses:
        '200':
          description: A partner contact
          content:
            application/json:
              schema: *id001
        '404':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
  /devices:
    get:
      operationId: listDevices
      summary: List devices
      tags:
      - Devices
      description: Registered devices
      parameters:
      - name: user_id
        in: query
        required: false
        description: Filter by user id.
        schema:
          type: string
      - name: app_id
        in: query
        required: false
        description: Filter by application id.
        schema:
          type: string
      - name: total_count
        in: query
        required: false
        description: Set to 1 to include the total item count in the response (counting is not free and
          off by default).
        schema:
          type: integer
      - name: size
        in: query
        required: false
        description: Limit the number of embedded items returned.
        schema:
          type: integer
      - name: cursor
        in: query
        required: false
        description: A position within the results set for cursor-based pagination.
        schema:
          type: string
      - name: offset
        in: query
        required: false
        description: Skip this number of items (mutually exclusive with cursor).
        schema:
          type: integer
      - name: sample
        in: query
        required: false
        description: Redirect to a random element in the collection.
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: Sort order for the results.
        schema:
          type: string
      responses:
        '200':
          description: A paginated set of devices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HALCollection'
        '401':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
  /devices/{id}:
    get:
      operationId: getDevice
      summary: Get a device
      tags:
      - Devices
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The device id.
      responses:
        '200':
          description: A device
          content:
            application/json:
              schema: *id001
        '404':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
  /user_fair_actions:
    get:
      operationId: listUserFairActions
      summary: List user fair actions
      tags:
      - User Fair Actions
      description: User actions at a fair
      parameters:
      - name: user_id
        in: query
        required: false
        description: Filter by user id.
        schema:
          type: string
      - name: owner_id
        in: query
        required: false
        description: Filter by owner id.
        schema:
          type: string
      - name: owner_type
        in: query
        required: false
        description: Filter by owner type.
        schema:
          type: string
      - name: total_count
        in: query
        required: false
        description: Set to 1 to include the total item count in the response (counting is not free and
          off by default).
        schema:
          type: integer
      - name: size
        in: query
        required: false
        description: Limit the number of embedded items returned.
        schema:
          type: integer
      - name: cursor
        in: query
        required: false
        description: A position within the results set for cursor-based pagination.
        schema:
          type: string
      - name: offset
        in: query
        required: false
        description: Skip this number of items (mutually exclusive with cursor).
        schema:
          type: integer
      - name: sample
        in: query
        required: false
        description: Redirect to a random element in the collection.
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: Sort order for the results.
        schema:
          type: string
      responses:
        '200':
          description: A paginated set of user fair actions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HALCollection'
        '401':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
  /user_fair_actions/{id}:
    get:
      operationId: getUserFairAction
      summary: Get a user fair action
      tags:
      - User Fair Actions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The user_fair_action id.
      responses:
        '200':
          description: A user fair action
          content:
            application/json:
              schema: *id001
        '404':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
  /applications:
    get:
      operationId: listApplications
      summary: List applications
      tags:
      - Applications
      description: API client applications
      parameters:
      - name: total_count
        in: query
        required: false
        description: Set to 1 to include the total item count in the response (counting is not free and
          off by default).
        schema:
          type: integer
      - name: size
        in: query
        required: false
        description: Limit the number of embedded items returned.
        schema:
          type: integer
      - name: cursor
        in: query
        required: false
        description: A position within the results set for cursor-based pagination.
        schema:
          type: string
      - name: offset
        in: query
        required: false
        description: Skip this number of items (mutually exclusive with cursor).
        schema:
          type: integer
      - name: sample
        in: query
        required: false
        description: Redirect to a random element in the collection.
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: Sort order for the results.
        schema:
          type: string
      responses:
        '200':
          description: A paginated set of applications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HALCollection'
        '401':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
  /applications/{id}:
    get:
      operationId: getApplication
      summary: Get a application
      tags:
      - Applications
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The application id.
      responses:
        '200':
          description: A application
          content:
            application/json:
              schema: *id001
        '404':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
  /editions/{id}:
    get:
      operationId: getEdition
      summary: Get an edition
      tags:
      - Editions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: artwork_id
        in: query
        required: false
        description: Filter by artwork id.
        schema:
          type: string
      responses:
        '200':
          description: An edition
          content:
            application/json:
              schema: *id001
        '404':
          $ref: '#/components/responses/Error'
  /images/{id}:
    get:
      operationId: getImage
      summary: Get an image
      tags:
      - Images
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: An image
          content:
            application/json:
              schema: *id001
        '404':
          $ref: '#/components/responses/Error'
  /user_details/{id}:
    get:
      operationId: getUserDetail
      summary: Get user detail
      tags:
      - Users
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: User detail
          content:
            application/json:
              schema: *id001
        '404':
          $ref: '#/components/responses/Error'
components:
  securitySchemes:
    XappToken:
      type: apiKey
      in: header
      name: X-Xapp-Token
      description: Application-level token obtained from POST /tokens/xapp_token by exchanging client_id
        and client_secret. Sent in the X-Xapp-Token request header.
  schemas:
    HALResource:
      type: object
      description: A HAL resource with hypermedia _links and _embedded relations.
      properties:
        id:
          type: string
        _links:
          type: object
        _embedded:
          type: object
    HALCollection:
      type: object
      description: A paginated HAL set.
      properties:
        total_count:
          type: integer
          description: Total items (only present when total_count=1 is requested).
        _links:
          type: object
          description: self and next links (next absent on the last page).
        _embedded:
          type: object
          description: The embedded array of items.
    Error:
      type: object
      properties:
        type:
          type: string
          description: Error category, e.g. auth_error, param_error, other_error.
        message:
          type: string
          description: Human-readable error message.
        detail:
          type: object
          description: Optional per-field validation detail.
  responses:
    Error:
      description: Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimited:
      description: Too many requests (rate limit is 5 requests/second per application).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
